@model IEnumerable<NewMusicApp.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<p>
    <a asp-controller="Albums" asp-action="Create" class="btn btn-info">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Artist Name</th>
        <th>Genre</th>
        <th>Price</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Artist.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlbumID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlbumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlbumID">Delete</a>
            </td>
        </tr>
    }
</table>